<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="ProcessXmlSoap">
                    <security mode="Transport" />
                </binding>
                <binding name="ProcessXmlSoap1" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://accounting.twinfield.com/webservices/processxml.asmx"
                binding="basicHttpBinding" bindingConfiguration="ProcessXmlSoap"
                contract="TwinfieldProcessXml.ProcessXmlSoap" name="ProcessXmlSoap" />
        </client>
    </system.serviceModel>
</configuration>